<div class="container">
  <h1>List of Posts</h1>
  
  <table class="table">
    <thead>
      <tr>
        <th class="col-user" scope="col">User ID</th>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
      </tr>
    </thead>
    
    <tbody>
  
      <tr *ngFor="let data of PostsData">
        <td>{{data.userId}}</td>
        <td>{{data.id}}</td>
        <td>{{data.title}}</td>
        <td>{{data.body}}</td>
      </tr>
    </tbody>
 
  </table>

</div>